

  <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>
 <script id="dsq-count-scr" src="//www-maximvanderveken.disqus.com/count.js" async></script>
  <script src="/js/template.js"></script>
  </body>
</html>
