
    <a href="/">  <img class = "logomain" src="/img/GuardianLogo.jpg"></a>

    <nav class="categories">
        <% for (var i = 0; i < categorieen.length; i++) { %>
        <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
        <% } %>
    </nav>