<div class="main">
<div class="wrapper">
    <div class="one">
    <a href="/"> <h1> Project M.E.R.N. </h1></a></div>
    <div class="two">
        <div class="navigatie">
            <% for (var i = 0; i < topics.length; i++) { %>
            <a href="/topics/<%- i %>"><%- topics[i] %></a>
            <% } %>
        </div>
</div>
</div>

</div>